<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/assets/img/favicon.ico}">
    <title>Students-Create/Update</title>

    <!-- Custom fonts for this template-->
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">

    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
    <!--    <link th:href="@{/css/mdb.min.css}" rel="stylesheet">-->
</head>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar"
        th:insert="fragments/sidebar.html :: sidebar"></ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:replace="fragments/topbar.html :: topbar"></nav>

            <div class="container-fluid">

                <section class="slider-area slider-area2">
                    <div class="slider-active">
                        <!-- Single Slider -->
                        <div class="single-slider slider-height2">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xl-8 col-lg-11 col-md-12">
                                        <div class="hero__caption hero__caption2">
                                            <h1 class="text-white">Student Update/Create
                                            </h1>
                                            <!-- breadcrumb Start-->

                                            <!-- breadcrumb End -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <br/>
                <div class="container">
                    <!-- Section: Edit Account -->
                    <section class="section">
                        <!-- First row -->
                        <div class="row">
                            <!-- First column -->
                            <div class="col-lg-4 mb-4">

                                <!-- Card -->
                                <div class="card">

                                    <!-- Card image -->
                                    <div class="card-header">
                                        <h5 class="mb-0 font-weight-bold text-warning">Edit Photo</h5>
                                    </div>

                                    <!-- Card image -->

                                    <!-- Card content -->
                                    <div class="card-body text-center">

                                        <p class="text-muted card-text"><small>Currently .PNG Images are
                                            supported</small></p>
                                    </div>
                                </div>
                                <!-- Card -->

                            </div>
                            <!-- First column -->

                            <!-- Second column -->
                            <div class="col-lg-8 mb-4">

                                <!-- Card -->
                                <div class="card ">


                                    <div class="card-header mdb-color ">
                                        <h5 class="mb-0 font-weight-bold text-warning">Edit Account</h5>
                                    </div>


                                    <!-- Card content -->
                                    <div class="card-body text-center">

                                        <!-- Edit Form -->
                                        <form th:object="${student}"
                                              th:action="@{'/students'}" method="post" enctype="multipart/form-data" >

                                            <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                                                <p>Please Correct Errors Below</p>
                                            </div>
                                            <!-- First row -->

                                            <div class="row">
                                                <div class="col-md-6">

                                                    <div class="md-form mb-0">
                                                        <label class="text-success">Upload Photo</label><br/>
                                                        <input type="file" name="file">

                                                    </div>
                                                </div>
                                                <!-- First column -->
                                                <div class="col-md-6">

                                                    <div class="md-form mb-0">
                                                        <label class="text-success">Student ID</label><br/>
                                                        <input type="text" class="form-control text-muted"
                                                               th:field="*{id}" readonly placeholder="Auto Generated">

                                                    </div>
                                                </div>
                                                <!-- Second column -->
                                                <div class="col-md-6">
                                                    <div class="md-form mb-0">
                                                        <label class="text-success">Campus </label><br/>
                                                        <select class="form-control" th:field="*{campus}">
                                                            <option th:each="campusValue : ${T(com.stealth.yash.FaceRecognition.enums.Campus).values()}"
                                                                    th:value="${campusValue.name()}"
                                                                    th:text="${campusValue.name()}">val
                                                            </option>
                                                        </select>


                                                    </div>
                                                </div>
                                            </div>
                                            <!-- First row -->
                                            <br/>


                                            <!-- First row -->
                                            <div class="row">
                                                <!-- First column -->
                                                <div class="col-md-6 form-group"
                                                     th:class="${#fields.hasErrors('firstName')}  ? 'col-md-6 form-group has-error' : 'col-md-6 form-group'">
                                                    <div class="md-form mb-0">
                                                        <label data-error="wrong" data-success="right"
                                                               class="text-success">First name</label><br/>
                                                        <input type="text" class="form-control validate"
                                                               th:field="*{firstName}">
                                                        <span class="help-block" th:if="${#fields.hasErrors('firstName')}">
                                                                <ul>
                                                                    <li class="text-danger"
                                                                        th:each="err : ${#fields.errors('firstName')}" th:text="${err}"/>
                                                                </ul>
                                                        </span>
                                                    </div>
                                                </div>

                                                <!-- Second column -->
                                                <div class="col-md-6 form-group"
                                                     th:class="${#fields.hasErrors('lastName')}  ? 'col-md-6 form-group has-error' : 'col-md-6 form-group'">
                                                    <div class="md-form mb-0">
                                                        <label class="text-success">Last name</label><br/>
                                                        <input type="text" class="form-control validate"
                                                               th:field="*{lastName}">
                                                        <span class="help-block"
                                                              th:if="${#fields.hasErrors('lastName')}">
                                                                <ul>
                                                                    <li class="text-danger"
                                                                        th:each="err : ${#fields.errors('lastName')}" th:text="${err}"/>
                                                                </ul>
                                                          </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- First row -->
                                            <br/>
                                            <!-- Second row -->
                                            <div class="row">

                                                <!-- First column -->
                                                <div class="col-md-6 form-group"
                                                     th:class="${#fields.hasErrors('email')}  ? 'col-md-6 form-group has-error' : 'col-md-6 form-group'">
                                                    <div class="md-form mb-0">
                                                        <label class="text-success">Email address</label><br/>
                                                        <input type="email" class="form-control validate"
                                                               th:field="*{email}">
                                                        <span class="help-block"
                                                              th:if="${#fields.hasErrors('email')}">
                                                                <ul>
                                                                    <li class="text-danger"
                                                                        th:each="err : ${#fields.errors('email')}" th:text="${err}"/>
                                                                </ul>
                                                          </span>
                                                    </div>
                                                </div>
                                                <!-- Second column -->

                                                <div class="col-md-6 form-group"
                                                     th:class="${#fields.hasErrors('phoneNumber')}  ? 'col-md-6 form-group has-error' : 'col-md-6 form-group'">
                                                    <div class="md-form mb-0">
                                                        <label class="text-success">Contact No</label><br/>
                                                        <input type="text" class="form-control validate"
                                                               th:field="*{phoneNumber}">
                                                        <span class="help-block"
                                                              th:if="${#fields.hasErrors('phoneNumber')}">
                                                                <ul>
                                                                    <li class="text-danger"
                                                                        th:each="err : ${#fields.errors('phoneNumber')}" th:text="${err}"/>
                                                                </ul>
                                                          </span>

                                                    </div>
                                                </div>
                                            </div>
                                            <br/>

                                            <!-- Second row -->
                                            <div class="row">

                                                <!-- First column -->
                                                <div class="col-md-6 form-group"
                                                     th:class="${#fields.hasErrors('currentSemester')}  ? 'col-md-6 form-group has-error' : 'col-md-6 form-group'">
                                                    <div class="md-form mb-0">
                                                        <label class="text-success">Current-Semester</label><br/>
                                                        <input type="number" class="form-control validate"
                                                               th:field="*{currentSemester}">
                                                        <span class="help-block"
                                                              th:if="${#fields.hasErrors('currentSemester')}">
                                                                <ul>
                                                                    <li class="text-danger"
                                                                        th:each="err : ${#fields.errors('currentSemester')}" th:text="${err}"/>
                                                                </ul>
                                                          </span>
                                                    </div>
                                                </div>
                                                <!-- Second column -->

                                                <div class="col-md-6 form-group"
                                                     th:class="${#fields.hasErrors('GPA')}  ? 'col-md-6 form-group has-error' : 'col-md-6 form-group'">
                                                    <div class="md-form mb-0">
                                                        <label class="text-success">GPA</label><br/>
                                                        <input type="number" step="any" class="form-control validate"
                                                               th:field="*{GPA}">
                                                        <span class="help-block"
                                                              th:if="${#fields.hasErrors('GPA')}">
                                                                <ul>
                                                                    <li class="text-danger"
                                                                        th:each="err : ${#fields.errors('GPA')}" th:text="${err}"/>
                                                                </ul>
                                                          </span>

                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Second row -->

                                            <br/>
                                            <!-- Third row -->
                                            <div class="row">

                                                <!-- First column -->
                                                <div class="col-md-12 form-group"
                                                     th:class="${#fields.hasErrors('address')}  ? 'col-md-12 form-group has-error' : 'col-md-12 form-group'">
                                                    <div class="md-form mb-0">
                                                        <label class="text-success">Address</label><br/>
                                                        <input type="text" step="any" class="form-control validate"
                                                               th:field="*{address}">
                                                        <span class="help-block"
                                                              th:if="${#fields.hasErrors('address')}">
                                                                <ul>
                                                                    <li class="text-danger"
                                                                        th:each="err : ${#fields.errors('address')}" th:text="${err}"/>
                                                                </ul>
                                                          </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Third row -->

                                            <br/>

                                            <div class="row">

                                                <!-- First column -->
                                                <div class="col-md-12 form-group"
                                                     th:class="${#fields.hasErrors('department')}  ? 'col-md-12 form-group has-error' : 'col-md-12 form-group'">
                                                    <div class="md-form mb-0">
                                                        <label class="text-success">Department Name</label><br/>
                                                        <select id="department" class="form-control"
                                                                th:field="*{department}">
                                                            <option th:each="departmentVal : ${departments}"
                                                                    th:value="${departmentVal.id}"
                                                                    th:text="${departmentVal.departmentName}"></option>


                                                        </select>
                                                        <span class="help-block"
                                                              th:if="${#fields.hasErrors('department')}">
                                                                <ul>
                                                                    <li class="text-danger"
                                                                        th:each="err : ${#fields.errors('department')}" th:text="${err}"/>
                                                                </ul>
                                                          </span>
                                                    </div>
                                                </div>
                                            </div>

                                            <br/>
                                            <!-- Third row -->
                                            <div class="row">

                                                <!-- First column -->
                                                <div class="col-md-12 form-group"
                                                     th:class="${#fields.hasErrors('program')}  ? 'col-md-12 form-group has-error' : 'col-md-12 form-group'">
                                                    <div class="md-form mb-0">
                                                        <label class="text-success">Program Name</label><br/>
                                                        <select id="program" class="form-control" th:field="*{program}">
                                                            <option th:each="program : ${programs}"
                                                                    th:value="${program.id}"
                                                                    th:text="${program.programName + ' (' + program.id + ')' }">
                                                                val
                                                            </option>
                                                        </select>
                                                        <span class="help-block"
                                                              th:if="${#fields.hasErrors('program')}">
                                                                <ul>
                                                                    <li class="text-danger"
                                                                        th:each="err : ${#fields.errors('program')}" th:text="${err}"/>
                                                                </ul>
                                                          </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Third row -->
                                            <div class="row">
                                                <!-- Third row -->
                                                <div class="col-md-12 form-group">
                                                    <div class="md-form mb-0">
                                                        <label class="text-success">Access Fob IDs:</label><br/>
                                                        <select id="accesskey" class="form-control" th:field="*{accessKey}"
                                                                name="accessfobid">
                                                            <option th:each="accessKey : ${accessKeys}"
                                                                    th:value="${accessKey.id}"
                                                                    th:text="${accessKey.accessfobid}"></option>

                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Fourth row -->
                                            <div class="row">
                                                <div class="col-md-12 text-center my-4">
                                                    <!--                                                <input type="submit" value="Save"-->
                                                    <!--                                                       class="btn btn-info btn-rounded fa fa-save">-->
                                                    <button class="btn btn-primary mr-2" role="button" type="submit">
                                                        Save
                                                        <i th:style="'margin:5px;'" class="fa fa-save"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <!-- Fourth row -->

                                        </form>
                                        <!-- Edit Form -->

                                    </div>
                                    <!-- Card content -->

                                </div>
                                <!-- Card -->

                            </div>
                            <!-- Second column -->

                        </div>
                        <!-- First row -->

                    </section>
                    <!-- Section: Edit Account -->
                </div>
            </div>
        </div>
    </div>
</div>


<!--Main layout-->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!--Footer-->
<footer th:replace="fragments/footer.html::footer"></footer>
<!--/.Footer-->

<script th:inline="javascript">
    /*<![CDATA[*/

    document.getElementById("department").selectedIndex = -1;
    document.getElementById("program").selectedIndex = -1;


    $(document).ready(function () {
        $("#department").on('change', function (e) {
            loadProgramsByDepartmentId(this.value)
        });
    });

    loadProgramsByDepartmentId = (departmentId) => {
        $.get("/programs/by-departmentId", {departmentId: departmentId})
            .done(function (data) {
                console.log(data)
                let options = '';
                for (let d = 0; d < data.length; d++) {
                    options += `<option value="${data[d].id}">${data[d].programName}</option>`;
                }
                $("#program").html(options);
            });

    }

    /*]]>*/
</script>


</body>
</html>
