<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/assets/img/favicon.ico}">
    <title>STEALTH - ADMIN</title>

    <!-- Custom fonts for this template-->
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">


    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script th:src="@{/js/highchart/highcharts.js}"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/highcharts-3d.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>

    <!-- Additional files for the Highslide popup effect -->
    <script src="https://www.highcharts.com/samples/static/highslide-full.min.js"></script>
    <script src="https://www.highcharts.com/samples/static/highslide.config.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="https://www.highcharts.com/samples/static/highslide.css">
    <style>

        #container {
            height: 400px;
        }

        #barcontainer {
            height: 500px;
        }


        #piecontainer {
            height: 400px;
        }

        .highcharts-figure, .highcharts-data-table table {
            min-width: 360px;
            max-width: 800px;
            margin: 1em auto;
        }

        .highcharts-data-table table {
            font-family: Verdana, sans-serif;
            border-collapse: collapse;
            border: 1px solid #EBEBEB;
            margin: 10px auto;
            text-align: center;
            width: 100%;
            max-width: 500px;
        }

        .highcharts-data-table caption {
            padding: 1em 0;
            font-size: 1.2em;
            color: #555;
        }

        .highcharts-data-table th {
            font-weight: 600;
            padding: 0.5em;
        }

        .highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
            padding: 0.5em;
        }

        .highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
            background: #f8f8f8;
        }

        .highcharts-data-table tr:hover {
            background: #f1f7ff;
        }
    </style>

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul th:replace="fragments/sidebar.html :: sidebar"></ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:replace="fragments/topbar.html :: topbar"></nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                    <a th:href="@{/}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                            class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                </div>


                <!-- Content Row -->

                <div class="row">
                    <div class="col-xl-6 col-md-12 mb-4">
                        <div class="card border-left-secondary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <a th:href="@{/institutes}">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Institutes
                                            </div>
                                        </a>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800"
                                             th:text="${institutes.size()}">7777
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fa fa-university fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-12 mb-4">
                        <div class="card border-left-dark shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <a th:href="@{/departments}">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Departments
                                            </div>
                                        </a>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800"
                                             th:text="${departments.size()}">7777
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fa fa-building fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <a th:href="@{/students}">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Students
                                            </div>
                                        </a>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800"
                                             th:text="${students.size()}">7777
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fa fa-user-graduate fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <a th:href="@{/professors}">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Professors
                                            </div>
                                        </a>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800"
                                             th:text="${professors.size()}">$215,000
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-chalkboard-teacher fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-info shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <a th:href="@{/programs}">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Programs
                                            </div>
                                        </a>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800"
                                             th:text="${programs.size()}">$215,000
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-book-open fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Pending Requests Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-warning shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <a th:href="@{/courses}">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Courses
                                            </div>
                                        </a>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${courses.size()}">
                                            $215,000
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-laptop-code fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Content Row -->
                <div class="row">

                    <!-- Area Chart -->
                    <div class="col-xl-9 col-lg-8">
                        <figure class="highcharts-figure">
                            <div id="barcontainer"></div>
                        </figure>
                    </div>

                    <div class="col-xl-3 col-lg-4">
                        <h2 class="m-2">Controllers</h2>
                        <div class="m-5">
                            <button id="plain" class="btn btn-primary">Plain</button>
                        </div>
                        <div class="m-5">
                            <button id="inverted" class="btn btn-primary">Inverted</button>
                        </div>
                        <div class="m-5">
                            <button id="polar" class="btn btn-primary">Polar</button>
                        </div>

                    </div>
                </div>
                <div class="row">

                    <!-- Area Chart -->
                    <div class="col-xl-8 col-lg-7">
                        <figure class="highcharts-figure">
                            <div id="container"></div>
                        </figure>


                    </div>

                    <!-- Pie Chart -->
                    <div class="col-xl-4 col-lg-5">


                        <figure class="highcharts-figure">
                            <div id="piecontainer"></div>
                        </figure>
                    </div>
                </div>

<!--                &lt;!&ndash; Content Row &ndash;&gt;-->
<!--                <div class="row">-->

<!--                    &lt;!&ndash; Content Column &ndash;&gt;-->
<!--                    <div class="col-lg-6 mb-4">-->

<!--                        &lt;!&ndash; Project Card Example &ndash;&gt;-->
<!--                        <div class="card shadow mb-4">-->
<!--                            <div class="card-header py-3">-->
<!--                                <h6 class="m-0 font-weight-bold text-primary">Projects</h6>-->
<!--                            </div>-->
<!--                            <div class="card-body">-->
<!--                                <h4 class="small font-weight-bold">Server Migration <span class="float-right">20%</span>-->
<!--                                </h4>-->
<!--                                <div class="progress mb-4">-->
<!--                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 20%"-->
<!--                                         aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>-->
<!--                                </div>-->
<!--                                <h4 class="small font-weight-bold">Sales Tracking <span class="float-right">40%</span>-->
<!--                                </h4>-->
<!--                                <div class="progress mb-4">-->
<!--                                    <div class="progress-bar bg-warning" role="progressbar" style="width: 40%"-->
<!--                                         aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>-->
<!--                                </div>-->
<!--                                <h4 class="small font-weight-bold">Customer Database <span-->
<!--                                        class="float-right">60%</span></h4>-->
<!--                                <div class="progress mb-4">-->
<!--                                    <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60"-->
<!--                                         aria-valuemin="0" aria-valuemax="100"></div>-->
<!--                                </div>-->
<!--                                <h4 class="small font-weight-bold">Payout Details <span class="float-right">80%</span>-->
<!--                                </h4>-->
<!--                                <div class="progress mb-4">-->
<!--                                    <div class="progress-bar bg-info" role="progressbar" style="width: 80%"-->
<!--                                         aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>-->
<!--                                </div>-->
<!--                                <h4 class="small font-weight-bold">Account Setup <span-->
<!--                                        class="float-right">Complete!</span></h4>-->
<!--                                <div class="progress">-->
<!--                                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%"-->
<!--                                         aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->

                        <!-- Color System -->
                        <div class="row">
                            <div class="col-lg-6 mb-4">
                                <div class="card bg-success text-black shadow">
                                    <div class="card-body">

                                        <div class="text-black-50 medium">Student Portal Schedule Generator</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-4">
                                <div class="card bg-dark text-white shadow">
                                    <div class="card-body">
                                        <div class="text-white-50 medium">Logs of Student Access in Admin Portal</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-4">
                                <div class="card bg-primary text-white shadow">
                                    <div class="card-body">
                                        <div class="text-white-50 medium">Data Analytics for Student Portal</div>

                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="col-lg-6 mb-4">

                        <!-- Illustrations -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Illustrations</h6>
                            </div>
                            <div class="card-body">
                                <div class="text-center">
                                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                                         src="img/servaillence.svg" alt="">
                                </div>
                                <p>Face recognition is a method of identifying or verifying the identity of an
                                    individual using their face. Face recognition systems can be used to identify people
                                    in photos, video, or in real-time.</p>
                                <a target="_blank" rel="nofollow"
                                   href="https://en.wikipedia.org/wiki/Facial_recognition_system">Learn More About It
                                    &rarr;</a>
                            </div>
                        </div>

                        <!-- Approach -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Development Approach</h6>
                            </div>
                            <div class="card-body">
                                <p>Will Be Added</p>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!--footer-->
<footer th:replace="fragments/footer.html :: footer"></footer>


<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" th:action="@{/logout}" href="/logout">Logout</a>
            </div>
        </div>
    </div>
</div>


<script th:inline="javascript">

    /*<![CDATA[*/
    function myFunc() {
        let x = [[${plotter.keySet()}]];
        let y = [[${plotter.values()}]];
        // console.log(x[0]);
        console.log(x, y)
        let z = [];
        for (let i = 0; i < x.length; i++) {
            var dateVar = new Date(x[i]);
            console.log(dateVar)
            var a = dateVar.getUTCDate();
            var b = dateVar.getUTCMonth();
            var c = dateVar.getUTCFullYear();
            console.log(a, b, c)
            z[i] = [Date.UTC(c,b,a), y[i]];
        }
        console.log(z);
        return z;
    }

    Highcharts.chart('container', {
        chart: {
            type: 'spline'
        },
        title: {
            text: 'User Access per month'
        },
        subtitle: {
            text: 'Irregular time data'
        },
        xAxis: {
            type: 'datetime',
            dateTimeLabelFormats: {
                month: '%e. %b',
                year: '%b'
            },
            title: {
                text: 'Date per month'
            }
        },
        yAxis: {
            title: {
                text: 'Users Count'
            },
            min: 0
        },
        tooltip: {
            headerFormat: '<b>{series.name}</b><br>',
            pointFormat: '{point.x:%e. %b}: Users => {point.y:.2f} '
        },

        plotOptions: {
            series: {
                marker: {
                    enabled: true
                }
            }
        },

        colors: ['#6CF', '#39F', '#06C', '#036', '#000'],

        series: [{
            name: [[${timeFrame}]],

            data: myFunc()



            // data: [
            //     [Date.UTC(2020, 10, 25), 5],
            //     [Date.UTC(2020, 11,  6), 25],
            //     [Date.UTC(2020, 11, 20), 2],
            //     [Date.UTC(2020, 11, 25), 1],
            //     [Date.UTC(2021, 0,  1), 2],
            //     [Date.UTC(2021, 0, 3), 12],
            //     [Date.UTC(2021, 0, 4), 11],
            //     [Date.UTC(2021, 0,  6), 2],
            //     [Date.UTC(2021, 0, 11), 12],
            //     [Date.UTC(2021, 0, 18), 11],
            //     [Date.UTC(2021, 1,  4), 3],
            //     [Date.UTC(2021, 1, 14), 14],
            //     [Date.UTC(2021, 2,  6), 9],
            //     [Date.UTC(2021, 2, 14), 11],
            //     [Date.UTC(2021, 2, 24), 19],
            //     [Date.UTC(2021, 3,  1), 20],
            //     [Date.UTC(2021, 3, 11), 7],
            //     [Date.UTC(2021, 3, 27), 29],
            //     [Date.UTC(2021, 4,  4), 20],
            //     [Date.UTC(2021, 4,  9), 0],
            //     [Date.UTC(2021, 4, 14), 12],
            //     [Date.UTC(2021, 4, 19), 21],
            //     [Date.UTC(2021, 5,  4), 2],
            //     [Date.UTC(2021, 5,  9), 12],
            //     [Date.UTC(2021, 5, 14), 7],
            //     [Date.UTC(2021, 5, 19), 1],
            // ]

        }],

        responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
                },
                chartOptions: {
                    plotOptions: {
                        series: {
                            marker: {
                                radius: 2.5
                            }
                        }
                    }
                }
            }]
        }
    });


    // piegraph


    Highcharts.chart('piecontainer', {
        chart: {
            type: 'pie',
            options3d: {
                enabled: true,
                alpha: 45,
                beta: 0
            }
        },
        title: {
            text: 'System Entities'
        },
        accessibility: {
            point: {
                valueSuffix: '%'
            }
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                depth: 35,
                dataLabels: {
                    enabled: true,
                    format: '{point.name}'
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'Entity Concentration',
            data: [
                ['Programs', [[${programs.size()}]]],
                ['Courses', [[${courses.size()}]]],
                {
                    name: 'Students',
                    y: [[${students.size()}]],
                    sliced: true,
                    selected: true
                },
                ['Professors', [[${professors.size()}]]],
                ['Departments', [[${departments.size()}]]]
            ]
        }]
    });


    // bargraph

    var chart = Highcharts.chart('barcontainer', {

        title: {
            text: 'System Users Access Count'
        },

        subtitle: {
            text: 'Users'
        },

        xAxis: {
            categories: [[${studentAccessMap.keySet()}]]
        },

        series: [{
            type: 'column',
            colorByPoint: true,
            data: [[${studentAccessMap.values()}]],
            showInLegend: false
        }]

    });


    $('#plain').click(function () {
        chart.update({
            chart: {
                inverted: false,
                polar: false
            },
            subtitle: {
                text: 'Plain'
            }
        });
    });

    $('#inverted').click(function () {
        chart.update({
            chart: {
                inverted: true,
                polar: false
            },
            subtitle: {
                text: 'Inverted'
            }
        });
    });

    $('#polar').click(function () {
        chart.update({
            chart: {
                inverted: false,
                polar: true
            },
            subtitle: {
                text: 'Polar'
            }
        });
    });


    /*]]>*/

</script>

</body>

</html>
