<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>test</title>
</head>
<body>

<table>
    <tr>
        <th>Program ID</th>
        <th>Program Name</th>
        <th>numberOfSemester</th>
        <th>description</th>
        <th>campus</th>
        <th>department name</th>
        <th>department id</th>
        <th>department description</th>

    </tr>
    <tr th:each="program: ${programs}">
        <td th:text="${program.id}">cbc</td>
        <td th:text="${program.programName}">ABC</td>
        <td th:text="${program.numberOfSemester}">cbc</td>
        <td th:text="${program.description}">cbc</td>
        <td th:text="${program.campus + ' '}">cbc</td>
        <td th:text="${program.department.name}">cbc</td>
        <td th:text="${program.department.departmentID}">cbc</td>
        <td th:text="${program.department.description}">cbc</td>

    </tr>
</table>

</body>
</html>