<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>test</title>
</head>
<body>

<table>
    <tr>
        <th>Student ID</th>
        <th>Student Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Address</th>
        <th>Current Sem</th>
        <th>Campus</th>
        <th>GPA</th>
        <th>Program</th>
    </tr>
    <tr th:each="student: ${students}">
        <td th:text="${student.id}">cbc</td>
        <td th:text="${student.firstName + ' ' + student.lastName}">ABC</td>
        <td th:text="${student.email}">cbc</td>
        <td th:text="${student.phoneNumber}">cbc</td>
        <td th:text="${student.address + ' '}">cbc</td>
        <td th:text="${student.currentSemester}">cbc</td>
        <td th:text="${student.campus}">cbc</td>
        <td th:text="${student.GPA}">cbc</td>
        <td th:text="${student.program.programName}">cbc</td>
    </tr>
</table>

</body>
</html>