<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Program - Create/Update</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--    <link rel="manifest" href="site.webmanifest">-->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/assets/img/favicon.ico}">


    <!--    &lt;!&ndash; CSS here &ndash;&gt;-->
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
    <!--    <link rel="stylesheet" th:href="@{/assets/css/owl.carousel.min.css}">-->
    <!--    <link rel="stylesheet" th:href="@{/assets/css/slicknav.css}">-->
    <!--    <link rel="stylesheet" th:href="@{/assets/css/flaticon.css}">-->
    <!--    <link rel="stylesheet" th:href="@{/assets/css/progressbar_barfiller.css}">-->
    <!--    <link rel="stylesheet" th:href="@{/assets/css/gijgo.css}">-->
    <link rel="stylesheet" th:href="@{/assets/css/animate.min.css}">
    <!--            <link rel="stylesheet" th:href="@{/assets/css/animated-headline.css}">-->
    <!--    <link rel="stylesheet" th:href="@{/assets/css/magnific-popup.css}">-->
    <!--        <link rel="stylesheet" th:href="@{/assets/css/fontawesome-all.min.css}">-->
    <!--    <link rel="stylesheet" th:href="@{/assets/css/themify-icons.css}">-->
    <!--    <link rel="stylesheet" th:href="@{/assets/css/slick.css}">-->
    <!--    <link rel="stylesheet" th:href="@{/assets/css/nice-select.css}">-->
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">

    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
    <!--    <link th:href="@{/css/mdb.min.css}" rel="stylesheet">-->

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar"
        th:insert="fragments/sidebar.html :: sidebar"></ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:replace="fragments/topbar.html :: topbar"></nav>

            <div class="container-fluid">

                <!--? slider Area Start-->
                <section class="slider-area slider-area2">
                    <div style="padding-top: 20px">
                        <h1 class="text-white">Program Update/Create
                        </h1></div>
                    <div class="slider-active">
                        <!-- Single Slider -->
                        <div class="single-slider slider-height2">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xl-8 col-lg-11 col-md-12">
                                        <div class="hero__caption hero__caption2">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <div class="container">
                    <div class="card-body text-center">

                        <!-- Edit Form -->
                        <form th:object="${program}"
                              th:action="@{'/programs'}" method="post">

                            <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                                <p>Please Correct Errors Below</p>
                            </div>
                            <!-- First row -->

                            <div class="row">

                                <!-- First column -->
                                <div class="col-md-6">
                                    <div class="md-form mb-0">
                                        <label class="text-success">Program ID</label><br/>
                                        <input type="text" class="form-control text-muted"
                                               th:field="*{id}" readonly placeholder="Auto Generated">

                                    </div>
                                </div>
                                <!-- Second column -->
                                <div class="col-md-6">
                                    <div class="md-form mb-0">
                                        <label class="text-success">Campus </label><br/>
                                        <select class="form-control" th:field="*{campus}">
                                            <option th:each="campusValue : ${T(com.stealth.yash.FaceRecognition.enums.Campus).values()}"
                                                    th:value="${campusValue.name()}"
                                                    th:text="${campusValue.name()}">val
                                            </option>
                                        </select>


                                    </div>
                                </div>
                            </div>
                            <!-- First row -->
                            <br/>

                            <!-- First row -->

                            <div class="row">
                                <!-- First column -->
                                <div class="col-md-6"
                                     th:class="${#fields.hasErrors('length')}  ? 'col-md-6 form-group has-error' : 'col-md-6 form-group'">
                                    <div class="md-form mb-0">
                                        <label data-error="wrong" data-success="right" class="text-success">Program
                                            Length</label><br/>
                                        <input type="number" class="form-control validate"
                                               th:field="*{length}" maxlength="10">
                                        <span class="help-block"
                                              th:if="${#fields.hasErrors('length')}">
                                            <ul>
                                                <li class="text-danger" th:each="err : ${#fields.errors('length')}" th:text="${err}"/>
                                            </ul>
                                        </span>
                                    </div>
                                </div>

                                <!-- Second column -->
                                <div class="col-md-6"
                                     th:class="${#fields.hasErrors('numberOfSemester')}  ? 'col-md-6 form-group has-error' : 'col-md-6 form-group'">
                                    <div class="md-form mb-0">
                                        <label class="text-success">No. Of Semesters</label><br/>
                                        <input type="number" class="form-control validate"
                                               th:field="*{numberOfSemester}">
                                        <span class="help-block"
                                              th:if="${#fields.hasErrors('numberOfSemester')}">
                                            <ul>
                                                <li class="text-danger" th:each="err : ${#fields.errors('numberOfSemester')}" th:text="${err}"/>
                                            </ul>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- First row -->
                            <br/>

                            <div class="row">
                                <!-- First column -->
                                <div class="col-md-6" th:class="${#fields.hasErrors('rating')}  ? 'col-md-6 form-group has-error' : 'col-md-6 form-group'">
                                    <div class="md-form mb-0">
                                        <label data-error="wrong" data-success="right"
                                               class="text-success">Rating(Out of 10)</label><br/>
                                        <input type="number" class="form-control validate"
                                               th:field="*{rating}" max="10">
                                        <span class="help-block"
                                              th:if="${#fields.hasErrors('rating')}">
                                            <ul>
                                                <li class="text-danger" th:each="err : ${#fields.errors('rating')}" th:text="${err}"/>
                                            </ul>
                                        </span>
                                    </div>
                                </div>

                                <!-- Second column -->
                                <div class="col-md-6">
                                    <div class="md-form mb-0">
                                        <label class="text-success">Department</label><br/>
                                        <select class="form-control" th:field="*{department}">
                                            <option th:each="departmentVal : ${departments}"
                                                    th:value="${departmentVal.id}"
                                                    th:text="${departmentVal.departmentName}">

                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!-- First row -->
                            <br/>

                            <!-- Second row -->
                            <div class="row">

                                <!-- First column -->
                                <div class="col-md-12" th:class="${#fields.hasErrors('programName')}  ? 'col-md-12 form-group has-error' : 'col-md-12 form-group'">
                                    <div class="md-form mb-0">
                                        <label class="text-success">Program Name</label><br/>
                                        <input type="text" class="form-control validate"
                                               th:field="*{programName}">
                                        <span class="help-block"
                                              th:if="${#fields.hasErrors('programName')}">
                                            <ul>
                                                <li class="text-danger" th:each="err : ${#fields.errors('programName')}" th:text="${err}"/>
                                            </ul>
                                        </span>
                                    </div>
                                </div>
                                <!-- Second column -->
                            </div>
                            <br/>
                            <div class="row">
                                <div class="col-md-12" th:class="${#fields.hasErrors('description')}  ? 'col-md-12 form-group has-error' : 'col-md-12 form-group'">
                                    <div class="md-form mb-0">
                                        <label class="text-success">Program Description</label><br/>
                                        <textarea rows="3" type="text" class="form-control validate"
                                                  th:field="*{description}"></textarea>
                                        <span class="help-block"
                                              th:if="${#fields.hasErrors('description')}">
                                            <ul>
                                                <li class="text-danger" th:each="err : ${#fields.errors('description')}" th:text="${err}"/>
                                            </ul>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <br/>

                            <!-- Fourth row -->
                            <div class="row">
                                <div class="col-md-12 text-center my-4">
                                    <button class="btn btn-primary mr-2" role="button" type="submit">
                                        Save
                                        <i th:style="'margin:5px;'" class="fa fa-save"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- Fourth row -->

                        </form>
                    </div>


                </div>
            </div>
            <!--Main layout-->
            </section>
        </div>
    </div>
</div>
</div>


<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!--Footer-->
<footer th:replace="fragments/footer.html::footer"></footer>
<!--/.Footer-->

</body>

</html>
