<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Courses | Education</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--    <link rel="manifest" href="site.webmanifest">-->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/assets/img/favicon.ico}">


    <!-- CSS here -->
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/slicknav.css}">
    <link rel="stylesheet" th:href="@{/assets/css/flaticon.css}">
    <link rel="stylesheet" th:href="@{/assets/css/progressbar_barfiller.css}">
    <link rel="stylesheet" th:href="@{/assets/css/gijgo.css}">
    <link rel="stylesheet" th:href="@{/assets/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/animated-headline.css}">
    <link rel="stylesheet" th:href="@{/assets/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/assets/css/fontawesome-all.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/assets/css/slick.css}">
    <link rel="stylesheet" th:href="@{/assets/css/nice-select.css}">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">

    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
    <!--    <link th:href="@{/css/mdb.min.css}" rel="stylesheet">-->

</head>

<body id="page-top">


<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar"
        th:insert="fragments/sidebar.html :: sidebar"></ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:replace="fragments/topbar.html :: topbar"></nav>

            <div class="container-fluid">
                <!--? slider Area Start-->
                <section class="slider-area ">
                    <div class="slider-active">
                        <!-- Single Slider -->
                        <div class="single-slider slider-height d-flex align-items-center">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-7 col-md-12">
                                        <div class="hero__caption">
                                            <h1 data-animation="fadeInLeft" data-delay="0.2s">Harvard for <br> Animation
                                            </h1>
                                            <p data-animation="fadeInLeft" data-delay="0.4s">Join Sheridan Build Your
                                                skills,
                                                knowledge</p>
                                            <a href="https://www.sheridancollege.ca/" class="btn hero-btn"
                                               data-animation="fadeInLeft" data-delay="0.7s">Join Us
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ? services-area -->
                    <div class="services-area">
                        <div class="container">
                            <div class="row justify-content-sm-center">
                                <div class="col-lg-4 col-md-6 col-sm-8">
                                    <div class="single-services mb-30">
                                        <div class="features-icon">
                                            <img th:src="@{/assets/img/icon/icon1.svg}" alt="">
                                        </div>
                                        <div class="features-caption">
                                            <h3>120 programs</h3>
                                            <p> five faculties including 26-degree programs.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-8">
                                    <div class="single-services mb-30">
                                        <div class="features-icon">
                                            <img th:src="@{/assets/img/icon/icon2.svg}" alt="">
                                        </div>
                                        <div class="features-caption">
                                            <h3>Expert instructors</h3>
                                            <p>Some best out of best faculties...</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-8">
                                    <div class="single-services mb-30">
                                        <div class="features-icon">
                                            <img th:src="@{/assets/img/icon/icon3.svg}" alt="">
                                        </div>
                                        <div class="features-caption">
                                            <h3>Lots of india's to spend time with</h3>
                                            <p>Also indian food...hehehe</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Courses area start -->
                <!--    <div class="courses-area section-padding40 fix">-->
                <br>
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <a th:href="@{/students/create}"
                       class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                            class="fas fa-download fa-sm text-white-50"></i> Add Student</a>
                </div>
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-8">
                        <div class="section-tittle text-center mb-55">
                            <h2>Our featured courses</h2>
                        </div>
                    </div>
                </div>
                <section>
                    <div class="container">
                        <div class="row">
                            <!-- Single -->
                            <div class="properties pb-20 col-sm-6 col-md-4 col-lg-4">
                                <div class="properties__card">
                                    <div>
                                        <a href="#"><img th:src="@{/assets/img/gallery/featured1.png}" alt=""></a>
                                    </div>
                                    <div class="properties__caption">
                                        <p>User Experience</p>
                                        <h3><a href="#">Fundamental of UX for Application design</a></h3>
                                        <p>The automated process all your website tasks. Discover tools and techniques
                                            to engage
                                            effectively with vulnerable children and young people.

                                        </p>
                                        <div class="properties__footer d-flex justify-content-between align-items-center">
                                            <div class="restaurant-name">
                                                <p>Ratings: <span></span></p>
                                            </div>
                                        </div>
                                        <a href="#" class="border-btn border-btn2">Find out more</a>
                                    </div>

                                </div>
                            </div>
                            <!-- Single -->

                        </div>
                    </div>
                    <!--Main layout-->
                </section>
            </div>
            <!--</main>-->
        </div>
    </div>
</div>
</div>


<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!--Footer-->
<footer th:replace="fragments/footer.html::footer"></footer>
<!--/.Footer-->

</body>

</html>
